@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple');

html, body {
    margin: 0;
    height: 0;
    height: 100%;
    width: 100%;
    
}

/* image and body*/

.container {
    color: #e67300;
    font-family: "Rancho";
    top: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: url("../images/monkeessit.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.text_inside .content .text {
    font-family: "Rancho";
    color: #e67300;
    margin-top: 0;
    text-align: right;

}


/* Navbar lots used from Whiskey project*/

.navbar {
    margin-bottom: 0;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .05);
    border: 0;
    font-family: "Rancho";
}


.navbar-default .navbar-collapse {
    border-color: transparent;
    font-size: 20px;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-band {
    font-weight: bold;
    font-family: "Rancho";
    color: #fff;
    position: relative;
    top: 15px;
}

.navbar .navbar-band:hover {
    color: white;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
    
}


.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus {
    color:white;
    background: transparent;
}
.navbar-default .navbar-nav>.active>a:hover{
    color: #e67300;
    background:transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #e67300;
}

.nav.navbar-nav li a {
    color: white;
}

.navbar-btn {
    border: 0;
    border-radius: 50px;
    width: 150px;
    background-color: #e67300;
    color: white;
}

.navbar-btn:hover {
    border-color: blue;
    background-color: transparent;
    color: #e67300;
}
.navbar-call {
    color: #e67300;
}


